*{
  overflow: auto;
  box-sizing: border-box;
  box-sizing: padding-box;
}

.canvas{
  width: 30%;
/*  border: 1px solid red;
*/  overflow: hidden;
  margin: 50px auto;
}

div{
  float: left;
  width: 12.5%;
  padding-top:12.5%;
  border:1px solid black;
}

/*---- snake classes ----*/
/*.head{
  border-radius: 50%;
  background-color: red;
}

.body{
  background-color: tomato;
}

.tail{
  background-color: tomato;
}*/

.snake{
  background-color: tomato;
}

