*{
  overflow: auto;
  box-sizing: border-box;
  box-sizing: padding-box;
}

.canvas{
  width: 30%;
/*  border: 1px solid red;
*/  overflow: hidden;
  margin: 50px auto;
}

div{
  float: left;
  width: 12.5%;
  padding-top:12.5%;
  border:1px solid black;
}

.head{
  background: tomato;
}

.tail{
  background: tomato;
}

