*{
  overflow: auto;
  box-sizing: border-box;
  box-sizing: padding-box;
}

.canvas{
  padding: 4% 29%;
}

div{
  float: left;
 /* background-color: black;*/
 border: 1px solid black;
 box-sizing: border-box;
}

.red{
  background: tomato;
}

